body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background: #f2f2f2;
    padding: 40px;
}

.card {
    width: 350px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    padding: 20px;
    gap: 20px;
}

.header {
    background: #3af041;
    padding: 25px;
    text-align: center;
    margin-bottom: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid white;
    padding: 10px;
    background: white;
    margin-bottom: 20px;
}

.section {
    padding: 20px;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.blue { background: #418dcb; }
.yellow { background: #f1a500; }
.purple { background: #b674d2; }
.red { background: #d32f2f; }

.red a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.red a:hover {
    text-decoration: underline;
}

